<h1>Show Page</h1>
<h2>Url: /ideas/show</h2>

<h3><%= @idea.title %></h3>
<h4><%= @idea.body %></h4>
<p><strong>Created At:</strong><%= @idea.created_at %></p>
<p><strong>Updated At:</strong><%= @idea.updated_at %></p>
<%= link_to 'Edit', edit_idea_path(@idea) %>
<%= link_to 'Delete', idea_path(@idea), method: :delete, data: { confirm: 'Are you sure?' } %>

